/*
 * This is the customization for Firefox to use a custom font and to
 * force the link colors for a given set of websites
 * It also forces the font on the Firefox reader
 *
 * Place this file in ~/.mozilla/firefox/<profile folder>/chrome
 * Create folder 'chrome' if not present
 */

.moz-reader-content { 
    font-family: "Courier";
    line-height: 1;
    color: black;
}

@-moz-document domain("news.ycombinator.com"),
	domain("mythfolklore.net"),
	domain("web.whatsapp.com"),
	domain("x.com"),
	domain("en.wikipedia.org")
	{
	* { font-family: "Courier", monospace !important; }
	a:link { color: #1E90FF !important; }
	a:visited { color: purple !important; }
}

